[submodule "deps/rapidyaml"]
	path = deps/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/Lyra"]
	path = deps/Lyra
	url = https://github.com/bfgroup/Lyra.git
